{% extends 'mainHtml/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change password{% endblock title %}

{% block content %}
    <h1>Password change</h1>
    <p>Please enter your old password, for security's sake, and then enter
    your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success ml-2" >Save</button>
    </form>
    <div>
        <a target="_blank" href="{% url 'password-reset' %}">Forget Password</a>
    </div>
{% endblock content %}