*{
    margin: none;
    padding: none;
    list-style: none !important;
    text-decoration: none !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation{
    z-index: 100 !important;
    margin: 0;
    top: 0px;
    position: fixed;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(30, 29, 29);
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}
.mainContainer{
    position: relative;
    top: 60px;
}
.listcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.listcontainer a{
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    color: aliceblue;
}
.signin{
    background-color: rgba(0, 0, 255, 0.919);
}
.login{
    background-color: rgba(255, 255, 255, 0.142);
}

.logo,.username{
    padding:20px;
    color:aliceblue;
    cursor: pointer;
}
.hidden{
    position: absolute;
    z-index: 1000 !important;
    right: 0px;
    top:60px;
    width: 200px;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 1px 1px 1px 1px rgb(61, 58, 58) ;
    border-radius: 3px;

}
.hidden i{
    transform: rotate(180deg);
    color: rgb(122, 123, 125);
}

.hidden a{      
    padding: 5px 0px 5px 0px;
    color: rgb(30, 29, 29);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden a:hover{
    background-color: beige;
}

.inOut{
    display:flex;
    flex-direction: row;
}


.card{
    z-index: 0;
}


.font-bold{
    font-weight: bold !important;
    color: blue  !important;
}
.font-weight-bold{
    font-weight: bold !important;
    color: rgb(176, 77, 47);
}

.comments{
    margin-top: 10px !important;
    margin-left: 30px !important;
}
.commentTitle{
    width: 100% !important;
    color: black;
    
}
.delete-comment-btn{
    border: none  !important; ;
    color: blue;
    background-color: none;
    cursor: pointer;
    outline: none  !important; ;
    border-radius: none !important;
    font-size: 12px  !important;
}
