{% extends 'mainHtml/base.html' %}
{% block title %}Articles{% endblock title %}

{% block content %}
    {% for article in articles %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{article.title}}</span>&middot;
                <span class="text-muted">by {{article.author}} | {{article.date}}</span>
            </div>
            <div class="card-body">
                {{article.body}}
            </div>
            {% if user == article.author %}
                <div class="card-footer text-center text-muted ">
                    <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
                </div>
            {% endif %}
            <div class="card-footer">
                {{article.comments.count}} 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                </svg>
                <span class='commentTitle' ><a href="{% url 'comment_list' article.pk %}">
                    Show Comments</a>
                </span>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}

