{%load static%}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Newspaper App{% endblock title %}</title>
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">

<link rel="stylesheet" href="{%static 'css/base.css'%}">
</head>
<body>
    <nav class="navigation">
        <a class="username" href="{% url 'home' %}">Newspaper</a>
        <div class="listcontainer" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="username" onclick="toggleList()">
                    {{ user.username }}
                    <i class="fa-solid fa-caret-down"></i>
                    </span>
                    <div class="hidden" id='hidden'>
                        <i class="fa-solid fa-caret-down"></i>
                        <a
                        href="{% url 'password_change'%}">Change password</a>
                        <a href="{% url 'logout' %}">
                        Log Out</a>
                        <a href="{% url 'profile' %}">
                            My Profile</a>
                    </div>
                </li>
            </ul>
        {% else %}
        <form class="inOut">
            <a href="{% url 'login' %}" class="login">
            Log In</a>
            <a href="{% url 'signup' %}" class="signin">
            Sign up</a>
        </form>
        {% endif %}
        </div>
    </nav>
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main> 
</body>
<script src="https://kit.fontawesome.com/f757de9b90.js" crossorigin="anonymous"></script>
<script>
    function toggleList() {
        var x = document.getElementById("hidden");
        if (x.style.display === "none") {
        x.style.display = "flex";
        } else {
        x.style.display = "none";
        }
        }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</html>